<div class="row">
  <div class="col-sm-12">
    <form class="server-form" method="post">
      <label for="text">Enter String:</label>
       <textarea placeholder="Enter String" id="text" class="form-control" name="text">
      </textarea>
      
     
      {{#if error }}
      <div class="form-group">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
      {{#if result }}
      <div class="form-group">
        <div class="alert alert-success">
          The result is: {{ result }}
        </div>
      </div>
      {{/if}}
    </form>
  </div>
</div>
